<h1 class="page-header">Mainmenus</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>picture</th>
      <th></th>
      <th>content</th>
      <th>dis_flg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mainmenus.each do |mainmenu| %>
      <tr>
        <td><%= image_tag(mainmenu.avatar_url, style: "width: 140px; height: 140px", class: "img-rounded") if mainmenu.avatar? %><td>
        <td><%= mainmenu.content.html_safe %></td>
<!--         <td><%= mainmenu.avatar %></td> -->
        <td><%= mainmenu.dis_flg %></td>

        <td><%= link_to 'Show', mainmenu %></td>
        <td><%= link_to 'Edit', edit_mainmenu_path(mainmenu) %></td>
        <td><%= link_to 'Destroy', mainmenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mainmenu', new_mainmenu_path %>