<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Def flg</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= paper.description %></td>
        <td><%= paper.def_flg %></td>
        <td>
          <%= link_to 'Show', paper, class: "btn btn-default"  %>
          <%= link_to 'Edit', edit_paper_path(paper), class: "btn btn-default"  %>
          <%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
