<p id="notice"><%= notice %></p>

<h1>Listing M Roles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Role_no</th>
      <th>Role</th>
      <th colspan="3" style="text-align: center">
        options
      </th>
    </tr>
  </thead>

  <tbody>
    <% @m_roles.each do |m_role| %>
      <tr>
        <td><%= m_role.role_no %></td>
        <td><%= m_role.role %></td>
        <td><%= link_to 'Show', m_role %></td>
        <td><%= link_to 'Edit', edit_m_role_path(m_role) %></td>
        <td><%= link_to 'Destroy', m_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New a role', new_m_role_path %>
