<p id="notice"><%= notice %></p>

<p>
  <strong>Role no:</strong>
  <%= @m_role.role_no %>
</p>

<p>
  <strong>Role:</strong>
  <%= @m_role.role %>
</p>

<%= link_to 'Edit', edit_m_role_path(@m_role) %> |
<%= link_to 'Back', m_roles_path %>
