<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %>
  </div>
  

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br>
    123<%= f.text_field :birthday, class: "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :date_in %><br>
    <%= f.text_field :date_in %>
  </div>

  <div class="field">
    <%= f.label :graduated_from %><br>
    <%= f.text_field :graduated_from %>
  </div>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :del_flg %><br>
    <%= f.text_field :del_flg %>
  </div>

  <div class="field">
    headPic<br>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
