<p id="notice"><%= notice %></p>
<table align="center" width="90%">
  <% @members.each do |member| %>
    <% if cycle('even', 'odd') == "even" %>
      <tr>
        <td width="50%">
          <div style="float: left; display: inline">
            <%= image_tag(member.avatar_url, style: "width: 150px; height: 200px", class: "img-rounded") if member.avatar? %>
          </div>

          <div style="float: left; display: inline; margin-left: 20px; margin-top: 100px">
            <b>name: <%= member.name %></b> 
            <br />
            role: <%= member.role %>
          </div>
        </td>

    <% else %>

        <td>
          <div style="float: left; display: inline">
            <%= image_tag(member.avatar_url, style: "width: 150px; height: 200px", class: "img-rounded") if member.avatar? %>
          </div>

          <div style="float: left; display: inline; margin-left: 20px; margin-top: 100px">
            <b>name: <%= member.name %></b> 
            <br />
            role: <%= member.role %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
